<div class="flex">
  <%= render Box::BoxComponent.new class_name: 'w-80 rounded-none' do %>
    <div class="flex">
      <%= render Icon::IconComponent.new icon: :account_circle, class_name: 'text-5xl' %>

    <div class="ml-3 leading-none flex-col items-center justify-center">
      <div class="text-xl text-stone-800">Artur Krol</div>
      <div class="text-stone-500">kroolar@gmail.com</div>
    </div>
  </div>

    <%= render Row::RowComponent.new class_name: 'p-2 mt-20 items-center rounded duration-200 border border-white cursor-pointer hover:bg-stone-50 hover:border-stone-200' do %>
      <%= render Icon::IconComponent.new icon: :dashboard, class_name: 'text-2xl mr-2' %>
      <%= render Text::TextComponent.new text: 'Dashboard', class_name: 'text-lg' %>
    <% end %>

    <%= render Row::RowComponent.new class_name: 'p-2 items-center rounded duration-200 border border-white cursor-pointer hover:bg-stone-50 hover:border-stone-200' do %>
      <%= render Icon::IconComponent.new icon: :movie, class_name: 'text-2xl mr-2' %>
      <%= render Text::TextComponent.new text: 'Movies', class_name: 'text-lg' %>
    <% end %>

    <%= render Row::RowComponent.new class_name: 'p-2 mt-[36rem] items-center rounded duration-200 border border-white cursor-pointer hover:bg-stone-50 hover:border-stone-200' do %>
      <%= render Icon::IconComponent.new icon: :logout, class_name: 'text-2xl mr-2' %>
      <%= render Text::TextComponent.new text: 'Sign Out', class_name: 'text-lg' %>
    <% end %>
  <% end %>
</div>
