<button class="<%= @class_name %> button
  button--<%= @size %>
  button--<%= @var %>
  shadow-sm
"
  type="<%= @type %>"
  data-controller="<%= controller %>"
  data-action="<%= action %>"
  >
  <%= @text || content %>
</button>
