<button class="<%= @class_name %> button
  button--<%= @size %>
  button--<%= @var %>
  shadow-sm
"
  type="<%= @type %>"
  <%= click? && "data-action=click->#{click}" %>
  >
  <%= @text || content %>
</button>
